##################################
# Node / Frontend
##################################
node_modules/
**/node_modules/

##################################
# Java / Backend
##################################
build/
out/
target/

##################################
# Environment
##################################
.env
.env.*

##################################
# IDE
##################################
.idea/
.vscode/

##################################
# OS
##################################
.DS_Store
Thumbs.db
